<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="17749e63-b1d2-4384-b132-fa69fa90a81a" wadlVersion="http://wadl.dev.java.net/2009/02" name="Transactions API" type="rest" basePath="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:description>A collection of endpoints for transactions.</con:description><con:settings><con:setting id="17749e63-b1d2-4384-b132-fa69fa90a81afileName">Transactions-API</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://localhost:8061/api/v1</con:endpoint></con:endpoints></con:interface>